[package]
name = "kyushu"
description = "kyushu is a journaling application which let you deliberate on events and your journey through them"
version = "0.2.3"
edition = "2021"
authors = ["Amir Alesheikh <amirhossein.alehseikh@gmail.com>"]

homepage = "https://github.com/amirography/soapberry/tree/main/crates/kyushu"
repository = "https://github.com/amirography/soapberry/tree/main/crates/kyushu"
license = "Apache-2.0"
readme = "README.md"
categories = ["command-line-utilities"]
keywords = ["journaling", "events"]

[lib]
path = "src/lib.rs"

[[bin]]
path = "src/server.rs"
name = "kyushu-server"

[[bin]]
path = "src/client.rs"
name = "kyushu-client"

[package.metadata.git-cliff.git]
conventional_commits = true
split_commits = true
filter_unconventional = true

[dependencies]
clap = { version = "4.1.8", features = ["derive"] }
inquire = "0.6.0"
prost = "0.11.8"
thiserror = "1.0.38"
tokio = { version = "1.26.0", features = ["macros", "rt-multi-thread"] }
tonic = "0.8.3"
tracing = { version = "0.1.37", features = ["log"] }
tracing-bunyan-formatter = "0.3.6"
tracing-log = "0.1.3"
tracing-subscriber = { version = "0.3.16", features = ["registry", "env-filter"] }
uuid = { version = "1.3.0", features = ["v4"] }
validators = { version = "0.24.3", default-features = false, features = [
  "domain",
] }


[build-dependencies]
tonic-build = "0.8.4"
